div {
  font-family: Metropolis;
}

.contentCheckOut {
  height: 80px;
  width: 100%;
  border-radius: 5px;
}

.BtnCheckOut {
  border-radius: 25px;
  width: 100%;
  height: 25px;
  font-size: 11px;
}

.cardCost {
  height: 100%;
  width: 40%;
}

@media only screen and (max-width: 1200px) {
  .CheckOutHp {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
  }

  .ItemCheckOut {
    width: 100% !important;
    margin-right: -20px;
  }
  .overPage{
    flex-direction: column!important;
  }
  .contentCheckOut{
    height: 150px;
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
}
